[DEFAULT]
# Your (sender's) email
#from = user@example.com

# Put SMPT server address here
#smtp-server = smtp.example.com

# Prefix all email subject
#subject-prefix = [PREFIX]

# Log directory
#log-dir = logs

# Settings for 'invoice' command
[invoice]
# Special subject prefix for reminders
#reminder-subject-prefix = [REMINDER PREFIX]


# Settings for 'message' command
[message]
